@import "tailwindcss";
@plugin "daisyui" {
  themes: none;
}

@theme {
  --color-primary: white;
  --color-primary-variant: #f0f0f0;
  --color-primary-hover: #e0e0e0;
  --color-primary-disabled: #cccccc;

  --color-secondary: black;
  --color-secondary-variant: #333333;
  --color-secondary-disabled: #666666;

  --color-surface-bg: white;
  --color-surface-border: #f0f0f0;
  --color-surface-disabled: #e0e0e0;

  --color-onSurface: black;
  --color-onSurface-secondary: #666666;
  --color-onSurface-tertiary: #999999;

  --color-system-divider: #d0d0d0;

  --color-font-primary: black;
  --color-font-secondary: white;
  --color-font-disabled: var(
    --color-onSurface-tertiary
  ); /* Disabled font uses the tertiary text color */

  /** Font family variables */
  --font-figtree: "Figtree", serif;
  --font-serif: Merriweather, serif;

  /** Font Size handler  */
  --text-xs: 0.75rem;
  --text-xs--line-height: 1.5;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5;
  --text-base: 1rem;
  --text-base--line-height: 1.75;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.5;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 1.4;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 1.3;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 1.25;
  --text-5xl: 3rem;
  --text-5xl--line-height: 1.2;
  --text-6xl: 4rem;
  --text-5xl--line-height: 1.15;

  /** Font Size */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extraBold: 800;
}

:root {
  --z-index-base: 1;
  --z-index-dropdown: 100;
  --z-index-modal: 1000;
  --z-index-modal-bg: 999;
  --z-index-tooltip: 2000;

  font-family: var(--font-figtree);
}
